@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #00eeff;
  --text: #f7f9ff;
  --bg: #151515;
}
* {
  /* box-sizing: border-box; */
  padding: 0px;
  margin: 0px;
}
html {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background: var(--bg);
}
header {
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1000;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  /* border-radius: 10px; */
  border: 0px solid rgba(255, 255, 255, 0.18);
  border-bottom-width: 1px;
  margin: 0px;
  border-radius: 0px 0px 15px 15px;
}
main {
  padding: 1.5rem;
  padding-top: 60px;
}
nav {
  padding: 15px;
  gap: 20px;
  display: flex;
}
.logo {
  all: unset;
  align-self: center;
  margin-left: 1.5rem;
  font-weight: 600;
}
.logo span {
  color: var(--primary);
  text-shadow: 0px 0px 10px #00eeff88, 0px 0px 20px #00eeff99,
    0px 0px 30px #00eeff60;
}
nav a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: var(--text);
  transition: 0.3s;
}
nav a:hover {
  color: var(--primary);
  text-shadow: 0px 0px 10px #00eeff88, 0px 0px 20px #00eeff99,
    0px 0px 30px #00eeff60;
}
nav a.active {
  color: var(--primary);
}
#menu-icon {
  display: none;
  place-content: center;
  margin: 1rem;
  font-size: x-large;
}
/* common style */
.text-primary {
  color: var(--primary);
}
/* home styles */
#home {
  display: flex;
  height: 95dvh;
  justify-content: center;
  align-items: center;
}
#home div {
  flex: 1;
  place-content: center;
}
  /* #home div:nth-child(2) {
  display: flex;
  place-content: center;
} */
@media (max-width: 500px) {
  #home {
    flex-direction: column;
  }
}

/* HEXAGON IMAGE*/
/* .hexagon {
  width: 100px;
  height: 57.735px;
  background: var(--primary);
  position: relative;
}
.hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid var(--primary);
}
.hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid var(--primary);
} */
