.home-bg-mask {
  position: absolute;
  inset: 0;
  -webkit-mask-image: radial-gradient(
    100vh at 48% -21%,
    black 0%,
    transparent 100%
  );
  mask-image: radial-gradient(100vh at 48% -21%, black 0%, transparent 100%);
}
.home-bg-dots {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(var(--radial-bg) 1px, transparent 1px);
  background-size: 0.125rem 0.125rem;
  opacity: 0.4;
}
.link-icon-btn {
  color: var(--primary);
  font-size: 1.1rem;
  transition: 0.3s;
  border: 1.5px solid var(--primary);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--glow-low);
  transition: all 0.3s ease;
}
.link-icon-btn:hover {
  color: var(--bg);
  background-color: var(--primary);
}
