.revealX {
  mask-image: linear-gradient(to right, black 0%, black 25%, transparent 50%);
  mask-size: 400% 100%;
  mask-position: 100% 0;

  filter: blur(10px);
  transform: translateY(20px);

  animation: revealAnimX 1.5s ease forwards;
  animation-delay: 0.1s;
}

@keyframes revealAnimX {
  to {
    mask-position: 0 0;
    filter: blur(0);
    transform: translateY(0);
  }
}
