@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #00eeff;
  --text: #f7f9ff;
  --bg: #151515;
  --gray: #9c9c9c;
  --card-bg: #242424;
  --card-border: #4b4b4b;
  --error: #ff4d4d;
  --glow: 0px 0px 10px #00eeff88, 0px 0px 20px #00eeff99;
  --glow-low: 0px 0px 5px #00eeff;
  --radial-bg: #094074;
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background: var(--bg);
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
body::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  overflow: hidden;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* section and main styles */
section {
  min-height: 100dvh;
  padding-top: 60px;
}
main {
  padding: 1.5rem;
}

/* common style */
.text-primary {
  color: var(--primary);
}
.section-title {
  color: var(--primary);
  text-align: center;
  margin-bottom: 2rem;
}
.safe-container {
  max-width: 1400px;
  margin: 0 auto;
}
