.projects-cont {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .projects-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .projects-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  background-color: red;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 2/1.2;
  position: relative;
  width: 100%;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card:hover {
  box-shadow: 0px 0px 10px var(--primary);
  transform: translateY(-1px);
  transition: 0.3s;
}
.project-card:hover .project-card-overlay {
  opacity: 1;
  transform: translateY(0%);
}
.project-card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.199) 100%);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.5px);
}
.project-card-overlay p {
  font-size: 13px;
  margin-top: 5px;
  word-break: break-all;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-wrap: balance;
  line-break: anywhere;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-card-overlay-desc {
  font-size: 12px;
  color: #f4fdff;
}

.project-details-btn {
  align-self: center;
  border: 1px solid var(--primary);
  border-radius: 30px;
  padding: 3px 10px;
  color: var(--text);
  cursor: pointer;
  font-size: 12px;
}
