:root {
  /* Colors */
  --text-color: var(--text-color);
  --background-color: #ffffff;
  --accent-color: #626262;
  --link-color: #2563eb;
  /* Font Sizes */
  --normal-text: 17px;
  --small-text: 14px;
}
h1 {
  font-size: 24px;
  margin: 0;
}
a {
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--normal-text);
}
h2 {
  font-size: 20px;
  margin-top: 22px;
  border-bottom: 1px solid #626262;
  padding-bottom: 2px;
  margin-bottom: 8px;
}
p {
  padding: 0px;
  margin: 4px 0px;
  font-size: var(--normal-text);
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.4;
}
ul {
  padding-left: 26px;
  margin: 0px;
}
li {
  padding: 0px;
  margin: 2px 0;
  font-size: var(--normal-text);
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.4;
}
strong {
  color: var(--text-color);
}
/* Classes */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #a7a7a7;
}
.page {
  min-width: 794px;
  max-width: 794px;
  min-height: 1123px;
  max-height: 1123px;
  background: #ffffff;
  padding: 50px 100px;
}
.header {
  margin-bottom: 20px;
}
.sub-header {
  color: var(--text-color);
  font-size: var(--normal-text);
  margin-top: 4px;
}
.sub-header-links {
  display: flex;
  gap: 5px;
  font-size: 15px;
  color: var(--accent-color);
}
.header-justify {
  display: flex;
  justify-content: space-between;
}
.place-date-box {
  text-align: right;
  font-size: var(--small-text);
  color: #1c1c1c;
}
.mt-0 {
  margin-top: 0px;
}
